@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo:wght@100..900&family=Red+Hat+Mono:wght@300..700&family=Spline+Sans:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

ul {
  list-style: none;
}

footer {
  height: 10vh;
  background-color: rgb(248, 204, 237);
}
footer section.informacionConsumidor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 8vh;
  background-color: rgb(248, 204, 237);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
header ul li a .logoHeader {
  width: 4.5vw;
  height: 6.5vh;
}
header ul li a .tituloPrincipal {
  font-family: "Bebas Neue";
}
header nav.navHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

section.wp {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
section.wp a.wa img {
  height: 10vh;
  width: auto;
}
section.wp a.wa {
  /* height: 40px;
  width: 40px; */
}

.mainPrincipal {
  background-image: url(../img/productosFondoDifuminados.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 92vh;
}
.mainPrincipal .sectionPrincipal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.mainPrincipal .sectionPrincipal .cajaPrincipal {
  width: 500px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.319);
  margin-left: 100px;
  margin-top: 140px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: start;
  border-radius: 8px;
}
.mainPrincipal .sectionPrincipal .cajaPrincipal h2.tituloSectionPrincipal {
  text-transform: uppercase;
  font-family: "Red Hat Mono";
  font-size: 30px;
}
.mainPrincipal .sectionPrincipal .cajaPrincipal p {
  font-size: 18px;
  margin: 5px 0;
}
.mainPrincipal .sectionPrincipal .cajaPrincipal ul li .botonCatalogo {
  display: inline-block;
  padding: 8px 10px;
  border: 1px solid rgb(0, 0, 0);
  margin-top: 5px;
}
.mainPrincipal .imgCajaPrincipal {
  margin: 30px 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.mainPrincipal .imgCajaPrincipal .cajaImgIndividual {
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.bienvenida {
  height: 35vh;
  background-color: rgb(255, 255, 255);
}
.bienvenida .cajaBienvenida {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: start;
  width: 100%;
  padding: 5vh 15vh;
}
.bienvenida .cajaBienvenida h3 {
  border-top: 1px solid rgb(0, 0, 0);
  padding-top: 1vh;
  font-size: 30px;
  font-family: "Red Hat Mono";
}
.bienvenida .cajaBienvenida p {
  padding-top: 2vh;
  width: 70%;
  font-size: 18px;
}

.informacionCompra .cajaInformacionCompra {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 3vh;
  gap: 30px;
  background-color: rgb(255, 255, 167);
}
.informacionCompra .cajaInformacionCompra .subCajasInfo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
}
.informacionCompra .cajaInformacionCompra .subCajasInfo img {
  height: 4vh;
}
.informacionCompra .cajaInformacionCompra .subCajasInfo p {
  padding-top: 1vh;
  text-align: justify;
  width: 20vw;
}

.mainContacto {
  background-color: rgb(208, 238, 247);
  height: 92vh;
}
.mainContacto .textContacto {
  color: rgb(119, 119, 119);
  padding: 50px 10vw 0px 30vw;
}
.mainContacto .formularioContacto {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: start;
  padding: 50px 10vw 0px 30vw;
}
.mainContacto .formularioContacto .cajaFormulario {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: start;
  width: 40vw;
}
.mainContacto .formularioContacto .cajaFormulario .titulosFormularios {
  font-family: "Spline Sans";
  text-transform: uppercase;
}
.mainContacto .formularioContacto .cajaFormulario input {
  width: 500px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.mainContacto .formularioContacto .cajaFormulario .textAreaContacto {
  width: 600px;
  height: 150px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.mainContacto .formularioContacto .buttonEnviar {
  padding-top: 50px;
}
.mainContacto .formularioContacto .buttonEnviar .textoEnviar {
  width: 200px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  font-family: "Red Hat Mono";
}

.mainCatalogo {
  height: 90vh;
  background-color: rgb(255, 255, 222);
  display: flex;
}
.mainCatalogo h3 {
  font-family: "Red Hat Mono";
  font-size: 18px;
}
.mainCatalogo .filtrosCategoria {
  height: 90vh;
  width: 20vw;
  display: block;
  padding-left: 100px;
}
.mainCatalogo .filtrosCategoria .tituloFiltro {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 50px;
}
.mainCatalogo .cajaCatalogo {
  padding: 50px 0px 0px 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 250px 250px 67px;
  gap: 20px;
  height: 80vh;
}
.mainCatalogo .cajaCatalogo .cajaImgCat {
  background-color: rgb(255, 255, 255);
  height: 35vh;
  text-align: center;
}
.mainCatalogo .cajaCatalogo .selectorPagina {
  background-color: rgba(255, 255, 255, 0);
  grid-column: 1/5;
  grid-row: 3/4;
  height: 67px;
  place-content: center;
}

/*# sourceMappingURL=style.css.map */
