@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;

header {
    position: sticky;
    top: 0;
    z-index: 100;
    height: 8vh;
    background-color: v.$fondoHeader;
    @include m.flex(row, nowrap,space-around,center);
    ul {
        li {
            a {
                .logoHeader {
                    width: auto;
                    height: 6vh;
                }

                .tituloPrincipal {
                    font-family: v.$fuenteHeader;
                    font-size: 200%;
                    font-weight: 700;
                    align-items: center;
                }
            }
        }
    }
    nav{
        &.navHeader{
            @include m.flex(row, nowrap,space-around,center);
            gap:10px;
        }
    }
}

@include m.mobile{
    header{
        height: 10vh;
        ul{
            li{
                a{
                    .logoHeader{
                        width: 15vw;
                        height: 8vh;
                    }
                }
            }
        }
    }
    nav{
        &.navHeader{
            
        }
    }
}