@use "../utilities/mixins" as m;
@use "../utilities/variables" as v;
@use "../utilities/animation";

section.wp {
    position: fixed;
    bottom: 20px;
    right: 20px;

    a.wa {
        img {

            height: 8vh;
            width: auto;
        }
    }
}

@include m.mobile {
    section.wp {
        a.wa {
            img {
                height: 6vh;
            }
        }
    }
}