@use "../utilities/mixins" as m;
@use "../utilities/variables" as v;

.mainCatalogo {
    height: 90vh;
    background-color: v.$fondoCatalogo;
    display: flex;
    h3 {
                font-family: v.$fuenteTitulos;
                font-size: 18px;
            }
    .filtrosCategoria {
        height: 90vh;
        width: 20vw;
        display: block;
        padding-left: 100px;


        .tituloFiltro {
            @include m.flex(column, nowrap, center, center);
            gap: 10px;
            padding-top: 50px;
        }
    }
    .cajaCatalogo{
        padding: 50px 0px 0px 50px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 250px 250px 67px;
        gap:20px;
        height: 80vh;
        .cajaImgCat{
            background-color: v.$white;
            height: 35vh;
            text-align: center;
        }
        .selectorPagina{
            background-color: rgba(255, 255, 255, 0);
            grid-column: 1/5;
            grid-row: 3/4;
            height: 67px;
            place-content: center;
        }
    }
}