@use "../../sass/utilities/mixins" as m;
@use "../../sass/utilities/variables" as v;
@use "../../sass/utilities/animation";

.mainProducto {
    display: grid;
    grid-template-columns: auto 1024px auto;
    grid-template-rows: auto auto;

    div {
        grid-column: 2/3;

        nav {
            ol {
                .navSupProductos {
                    font-size: 14px;
                    opacity: 50%;
                }
            }
        }
    }

    .cajaProductos {
        grid-column: 2/3;
        display: flex;

        .cajaIzquierda {
            display: flex;
            flex-direction: column;
            margin: 15px;
            width: 70%;
            .descripcionProducto {
                margin-top: 40px;
                padding-top: 15px;
                border-top: 1px solid rgb(213, 213, 213);

                .textoDescripcion {
                    color: rgb(85, 85, 85);
                    font-size: 16px;
                    margin-bottom: 0px;
                }
            }
        }

        .producto {
            width: 350px;
            display: flex;
            flex-direction: column;
            padding: 20px;

            .tituloPrecio {
                .tituloProducto {
                    font-size: 22px;
                    margin-top: 10px;
                    font-family: v.$fuenteTitulos;
                }

                .precioProducto {
                    font-size: 27px;
                    padding-left: 20px;
                }
            }

            .selector {
                border-top: 1px solid black;
                padding-top: 20px;

                .colorSelector {
                    margin-bottom: 2px;
                    font-family: v.$fuenteP;
                }
            }

            .selectorCantidad {
                padding-top: 20px;

            }

            .infoCompra {
                margin-top: 35px;

                .infoComprador {
                    @include m.flex (row, nowrap, start, center);
                    gap: 20px;
                    margin-top: 10px;

                    img {
                        height: 25px;
                    }

                    p {

                        font-size: 15px;
                        margin-bottom: 0;
                    }
                }
            }

            .botonCompra {
                margin-top: 30px;

            }

            .mediosDePago {
                margin-top: 40px;
                border-top: 1px solid rgb(0, 0, 0);

                .titleMediosPago {
                    padding-top: 20px;
                    font-size: 20px;

                }

                .titleMediosPagoh4 {
                    margin-top: 20px;
                    font-size: 16px;
                }

                .imgTarjetas {
                    @include m.flex(row, wrap, start, center);
                    gap: 15px;

                }
            }
        }
    }
}

@include m.mobile {
    .mainProducto {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px;

        div.mx-auto {
            height: 20px;

            nav {
                ol {
                    .navSupProductos {
                        font-size: 10px !important;

                    }
                }
            }
        }

        .cajaProductos {
            border-top: 2px solid black !important;
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            border-left: none !important;
            border-right: none !important;

            .cajaIzquierda {
                display: contents;

                .cajaImagenes {
                    order: 1;
                    flex-direction: column-reverse;
                    align-items: center;

                    .imgChicas {
                        width: 70% !important;
                        flex-direction: row !important;

                        button {
                            width: 100px;
                            margin-bottom: 0 !important;
                        }
                    }
                    .imgGrandes{
                       max-width: 350px !important;
                       width: 100% !important;
                       .carouser-inner{
                        .carouser-item{
                            max-height: 350px !important;
                        }
                       }
                    }

                }


                .descripcionProducto {
                    order: 5;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }

            .producto {
                display: contents;

                .selectorIndividual {
                    margin-top: 10px;
                    border-top: 1px solid black;
                    padding-top: 20px;
                    order: 2;

                    .tituloPrecio {
                        .tituloProducto {
                            font-size: 25px !important;
                            padding-left: 20px;
                        }

                        .precioProducto {
                            padding-left: 30px;
                        }

                        p {
                            padding-left: 30px;
                        }
                    }

                    .selector {
                        padding-left: 25px;
                    }

                    .selectorCantidad {
                        padding-left: 25px;
                    }
                }

                .infoCompra {
                    order: 3;
                    padding-left: 25px;
                }

                .botonCompra {
                    order: 4;
                }

                .mediosDePago {
                    order: 6;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
}

@include m.tablet {
    .mainProducto {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px;

        div.mx-auto {
            height: 25px;

            nav {
                ol {
                    .navSupProductos {
                        font-size: 15px !important;

                    }
                }
            }
        }

        .cajaProductos {
            border-top: 2px solid black !important;
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            border-left: none !important;
            border-right: none !important;

            .cajaIzquierda {
                display: contents;

                .cajaImagenes {
                    order: 1;
                    flex-direction: column-reverse;
                    align-items: center;

                    .imgChicas {
                        height: auto;
                        width: 90% !important;
                        flex-direction: row !important;

                        button {
                            width: 100px;
                            margin-bottom: 0 !important;
                        }
                    }

                }


                .descripcionProducto {
                    order: 5;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }

            .producto {
                display: contents;

                .selectorIndividual {
                    margin-top: 10px;
                    border-top: 1px solid black;
                    padding-top: 20px;
                    order: 2;

                    .tituloPrecio {
                        .tituloProducto {
                            font-size: 30px !important;
                            padding-left: 20px;
                        }

                        .precioProducto {
                            padding-left: 30px;
                        }

                        p {
                            padding-left: 30px;
                        }
                    }

                    .selector {
                        padding-left: 25px;
                    }

                    .selectorCantidad {
                        padding-left: 25px;
                    }
                }

                .infoCompra {
                    order: 3;
                    padding-left: 25px;
                }

                .botonCompra {
                    order: 4;
                }

                .mediosDePago {
                    order: 6;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
}